/* ============================================================================================
   Variables globales et paramètres de base
============================================================================================ */
html, body {
  justify-items: center;
  min-width: 320px;
  width: 100%;
  max-width: 768px;
  margin: 0;
  font-family: "roboto", sans-serif;
}

.fa-solid {
  color: #7b7b7b;
}

a {
  text-decoration: none;
  color: inherit; /* hérite de la couleur du parent */
}

/* ============================================================================================
   Header - Logo
============================================================================================ */
header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 45vw;
  padding-top: 6.25vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

/* ============================================================================================
   Header - Location
============================================================================================ */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 4vw;
  font-weight: 500;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  gap: 4vw;
  background-color: #EAEAEA;
  color: #333;
  box-shadow: 0 0px 0 #fff, 0 3px 0 #ccc;
}

/* ============================================================================================
   Main - Section - Exploration
============================================================================================ */
.explore {
  background-color: #EAEAEA;
  padding-top: 4vw;
  padding-bottom: 15vw;
  text-align: -webkit-center;
  width: 100%;
}

.explore__title {
  width: 60vw;
}

.explore__subtitle {
  color: #717171;
  font-size: large;
  width: 100vw;
}

.explore__button {
  margin-top: 3vw;
  padding: 17px 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* ============================================================================================
   Partie Fonctionnement
============================================================================================ */
.how_to__title {
  margin-left: 6vw;
}

.how-to__card {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 7vw 10vw;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  gap: 25px;
  margin-bottom: 7vw;
  margin-right: 6vw;
}

.how-to__card::before {
  position: absolute;
  left: -16px;
  width: 24px;
  height: 24px;
  background: #8e44ec;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.how_to {
  width: 100%;
  height: 97vw;
  margin-top: 13vw;
}

.how_to__list {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: step; /* Réinitialiser compteur */
}

.how_to__list li {
  position: relative;
  padding-left: 50px;  /* espace pour le cercle */
  margin-bottom: 30px;
  font-family: sans-serif;
}

/* cercle avec numéro */
.how_to__list li::before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  left: 36px;
  top: 23px;
  width: 25px;
  height: 25px;
  background-color: #8e44ec;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============================================================================================
   Partie Restaurants
============================================================================================ */
.restaurants__title {
  margin-bottom: 1vw;
  margin-top: 15vw;
  margin-left: 6vw;
}

.restaurants {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.resto__card {
  place-self: center;
  width: 90vw;
  height: 67vw;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}

.resto__card--image {
  width: 90vw;
  height: 47vw;
  position: relative;
}

.resto__card--image img {
  width: 90vw;
  height: 47vw;
  display: block;
  object-fit: cover;
}

.badge__new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: #139273;
  padding: 7px 13px;
  border-radius: 2px;
  font-size: 3vw;
  font-weight: bold;
}

.resto__card--content {
  padding: 15px;
  position: relative;
  font-size: larger;
}

.resto__card--content h3 {
  margin: 0 0 5px;
  font-size: 1.1em;
  font-weight: bold;
}

.resto__card--content p {
  margin: 0;
  color: #666;
  font-size: 0.95em;
}

.fa-heart {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 7vw;
  color: #666;
  cursor: pointer;
}

.fa-heart-btn:hover {
  color: #000;
}

/* ============================================================================================
   Footer
============================================================================================ */
footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 15vw;
}

footer a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.footer__title {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  margin-left: 6vw;
  margin-bottom: 0;
}

.footer__links {
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding-left: 7vw;
}

.footer__prolink,
.footer__partlink {
  display: flex;
  gap: 3vw;
  align-items: baseline;
}

.fa-utensils,
.fa-handshake-angle {
  font-size: small;
  color: white;
}

.fa-handshake-angle {
  font-size: xx-small;
}